<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Sign Up!</h1>
<form action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <br>
  <label for="firstName">firstName</label>
  <input type="firstName" name="firstName" id="firstName">

  <br>
  <label for="lastName">lastName</label>
  <input type="lastName" name="lastName" id="lastName">


  <br>
  <label for="dateOfBirth">dateOfBirth</label>
  <input type="dateOfBirth" name="dateOfBirth" id="dateOfBirth">


  <br>
  <label for="bio">bio</label>
  <input type="bio" name="bio" id="bio">

  <input type="submit" value="Sign Up">
</form>
</body>
</html>